<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2020 Fernando J. Gomez. 
		  Site forked from <a href="https://github.com/mpa139/allanlab">The Allan Lab</a> GitHub website;  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">copy and  modify it for your own research group.</a></p>
              <p>CICTERRA-CONICET-UNC, <a href="http://cicterra.conicet.unc.edu.ar/en/#/">CICTERRA website</a>.


		</div>

		<div class="col-sm-4">
      <p>Follow me on:</p>
      <ul class="social">
      <li><a href="mailto:fjgomez@unc.edu.ar" class="fa fa-envelope fa-lg"></a></li>
      <li><a href="https://www.instagram.com/fergomez411/?hl=es-la" class="fa fa-instagram fa-lg"></a></li>
      <li><a href="https://github.com/FernandoJGomez" class="fa fa-github fa-lg"></a></li>
            <li><a href="https://scholar.google.com/citations?user=G_dfpJUAAAAJ&hl=es" class="fa fa-google fa-lg"></a></li>
     <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0003-3037-9894" href="https://orcid.org/0000-0003-3037-9894" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:0.5em;margin-right:.5em" alt="ORCID iD icon">https://orcid.org/0000-0003-3037-9894</a></div>
      <ul>
      
     </div>

		<div class="col-sm-4">
		  Contact:<br />
		  CICTERRA-CONICET-UNC<br />
		  1611 Velez Sarsfield 1611, 2nd Floor, Off. 4, Ciudad Universitaria <br />
		  Córdoba, Argentina<br />
		  email: <a href="mailto:fjgomez@unc.edu.ar">fjgomez@unc.edu.ar</a> <br />
            
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
